@bgColor: black;
@wallColor: white;
@wallWidth: 13%;

body {
    margin: 0;
    padding: 0;
}

#page-background {
    width: 100%;
    height: 100vh;
    background-color: @bgColor;
}

#maze-background {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-image: linear-gradient(45deg, #2ac4ff, #e97ff1);
    overflow: hidden;

    mix-blend-mode: screen;

    &.highlight-foreground {
        background-image: none;
        background-color: white;
        mix-blend-mode: normal;
    }
}

#maze {
    display: grid;
    grid-gap: 0px;

    background-color: @wallColor;
    mix-blend-mode: multiply;

    position: relative;
    width: 100%;
    height: 100%;

    overflow: hidden;

    > .cell {
        height: 100%;
        width: 100%;
        position: relative;

        > .walls {
            background-color: @bgColor;
            &:hover {
                background-color: lighten(@bgColor, 60%);
            }

            position: absolute;
            top: @wallWidth;
            left: @wallWidth;
            bottom: @wallWidth;
            right: @wallWidth;
        }

        &.pending {
            > .walls {
                top: @wallWidth/6;
                left: @wallWidth/6;
                bottom: @wallWidth/6;
                right: @wallWidth/6;
            }
            > .vertex {
                visibility: hidden;
            }
        }

        &.open-left > .walls {
            left: -1px;
        }
        &.open-right > .walls {
            right: -1px;
        }
        &.open-top > .walls {
            top: -1px;
        }
        &.open-bottom > .walls {
            bottom: -1px;
        }

        > .vertex {
            position: absolute;
            background-color: @wallColor;
            z-index: 1;
        }

        > .label {
            display: none; // display for debug purposes
            font-family: Courier;
            font-size: 18px;
            color: white;
            position: absolute;
            top: 30%;
            left: 40%;
        }
    }
}
