<!doctype html>
<html>
    <head>
        <title>Mazer 3D</title>
        <% if (isProduction) { %>
        <script src="../node_modules/jquery/dist/jquery.min.js"></script>
        <% } %>
    </head>
    <body>
        <div id="page-background">
            <div id="maze-background">
                <div id="maze"></div>
            </div>
            <div id="toolbar">
                <div id="interaction-mode">
                    <button class="tool-option active" id="distance-map">Distance map</button>
                    <button class="tool-option" id="shortest-path">Shortest path</button>
                </div>
                <div id="animation-controls">
                    <button id="start-animating" class="tool-option"><span class="icon">&#9654;</span> Start animating </button>
                    <button id="stop-animating" class="tool-option"><span>&#9632;</span> Stop animating </button>
                </div>
            </div>
        </div>
        <div id="templates" hidden>
            <div class="cell">
                <div class="walls"></div>
                <div class="vertex"></div>
                <div class="path"></div>
            </div>
        </div>
        <div id="tooltip">
            <div>
                <b>Path length:</b>
                <span id="path-length">0</span>
            </div>
            <div>
                <b>Longest so far:</b>
                <span id="max-length">0</span>
            </div>
        </div>
    </body>
</html>
